body{
    background-color: black;
    
}
.nag h1{
    height: 200px;
    width: 100%;
    text-align: center;
    color: white;
    
    background-color:black;
}
.lang{
    width: 51px;
    height: 51px;
    position: sticky;
    position: -webkit-sticky;
    float: right;
}
.lang img{

    padding: 5px;
    border: black;
    border-style: solid;
    border-width: 1px;
}
 ul {
    position: relative;
    
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    /*margin: 0%;*/
    list-style: none;
    }
#menu li a {
    position: relative;
    display: block;
    float: left;
    text-align: center;
    font-size: 1.2em;
    width: 21%;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 36px;
    border: 1px solid navy;
    }
#menu li a:hover {
    color: white;
    background: grey;
    border: 1px solid blue;
    } 
.art{
    clear: both;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    
}
.art p{
    margin-left: 20%;
    margin-right: 20%;
}
.whitespace{
    height: 10%;
    clear: both;
}
footer{
    color: white;
}
a:link{
    color: white;
}