<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper footer">

    <div class="footer-col-wrapper">
<!--color do poprawy-->
      <div class="footer-center">
        <p>Moje social media poniżej. Czekam na kontakt</p>
      </div>

      <div class="footer-right">
        <ul class="social-media-list">
          <li>
            <a href="https://www.linkedin.com/in/bartosz-wackowski-542930125/" target="_blank" rel="noopener"><i class="ikonka1"></i> LinkedIn</a>
          </li>
          <li>
            <a href="https://www.instagram.com/bartosz_wacek_wackowski/" target="_blank" rel="noopener"><i class="ikonka2"></i> Instagram</a>
          </li>
        </ul>
      </div>

      <div class="footer-divider">
        <span>|</span>
      </div>

      <div class="footer-left">
        <a href="https://www.linkedin.com/in/aleksander-szopny/" target="_blank" rel="noopener">DESIGNED BY<br>ALEKSANDER SZOPNY</a>
      </div>

    </div>

  </div>

</footer>
