<!-- 

<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper footer">

    <div class="footer-col-wrapper">
<!--color do poprawy-->
<!-- 
      <div class="footer-center">
        <p>Moje social media poniżej. Czekam na kontakt</p>
      </div>

      <div class="footer-right">
        <ul class="social-media-list">
          <li>
            <a href="https://www.linkedin.com/in/bartosz-wackowski-542930125/" target="_blank" rel="noopener"><i class="ikonka1"></i> LinkedIn</a>
          </li>
          <li>
            <a href="https://www.instagram.com/bartosz_wacek_wackowski/" target="_blank" rel="noopener"><i class="ikonka2"></i> Instagram</a>
          </li>
        </ul>
      </div>

      <div class="footer-divider">
        <span>|</span>
      </div>

      <div class="footer-left">
        <a href="https://www.linkedin.com/in/aleksander-szopny/" target="_blank" rel="noopener">DESIGNED BY<br>ALEKSANDER SZOPNY</a>
      </div>

    </div>

  </div>

</footer>
-->
<!---->
<footer style="background-color: black; color: white; padding: 20px; text-align: center;">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <div class="footer-content">
        <p class="catchy-slogan">Got a project in mind? Let's make it happen!</p>
        <div class="social-media-icons">
            <!-- Przykłady ikon mediów społecznościowych -->
            <a href="https://github.com/Wackowski" target="_blank"><img src="assets/images/github-mark-white.png" alt="Github"></a>
            <a href="https://www.facebook.com/bartosz.wackowski" target="_blank"><img src="assets/images/Facebook_Logo_Primary.png" alt="Facebook"></a>
            <a href="https://www.linkedin.com/in/bartosz-wackowski-542930125/" target="_blank"><img src="assets/images/LI-In-Bug.png" alt="LinkedIn"></a>
            <a href="https://www.linkedin.com/in/bartosz-wackowski-542930125/" target="_blank"><img src="assets/images/TikTok_Icon_Black_Square.png" alt="Tiktok"></a>
            <a href="mailto:bartosz.wackowski0@gmail.com" target="_blank"><img src="assets/images/Gmail_Logo_256px.png" alt="Napisz do mnie e-mail"></a>
            <!-- Dodaj więcej ikon według potrzeb -->
        </div>
        <div class="designer-signature">
            <a href="TWÓJ_LINK_DO_PORTFOLIO" target="_blank" style="color: white; text-decoration: none;">Designed by Aleksander Szopny</a>
        </div>
    </div>
</footer>
